@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen select-none bg-zinc-50 text-zinc-900 antialiased p-safe dark:bg-zinc-900 dark:text-zinc-50;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

#dots #dot1 {
	animation: load 1s infinite;
}

#dots #dot2 {
	animation: load 1s infinite;
	animation-delay: 0.2s;
}

#dots #dot3 {
	animation: load 1s infinite;
	animation-delay: 0.4s;
}

@keyframes load {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
